.font-stretched1 {
    font-stretch: expanded;
    /* font-size: 3.9rem;  */
    line-height: 36px;
    transform: scaleX(1.06) scaleY(0.999999);   
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.text {
    word-wrap: break-word;
}

.font-compact {
    font-stretch: extra-condensed;
    transform: scaleX(0.99) scaleY(1.07); /* Slightly condense the width */
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-stretched2 {
    font-stretch: expanded;
    font-size: 1.9rem;
    /* line-height: 1.2; */
    transform: scaleX(1.17) scaleY(0.89);   
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



/* custom.css */

/* Flex container setup for the overall layout */
.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 2rem;
}
#text-and-buttons {
    flex-grow: 1;
    max-width: 75%;
    align-self: self-end;
    padding-right: 1rem;
    margin-top: 5%;
    line-height: normal;
}
.logo-class {
    margin-right: 1rem;
    align-self: flex-end;
}

.custom-input::placeholder {
    padding-left: 10px;
    padding-top: 5px;
    color: #71767B;
    font-size: 1rem;
}
.custom-dropdown-icon {
    font-size: 1rem;
    color: #71767B;
    position: relative;
    top: 0.5rem;
    right: 1rem;
}

/* custom.css or relevant file */

/* custom.css or relevant file */

.custom-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.6rem;
    /* border: 1px solid #333630; */
    border-radius: 0.25rem;
    cursor: pointer;
    margin-right: 0.75rem;
    position: relative;
}


.custom-dropdown-container.focused {
    border: 0.5px solid #139BF0;
}

.custom-dropdown-label {
    color: #71767B;
    padding-top: 1.4rem;
    padding-left: 0.5rem;
    font-size: 0.813rem;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
}


.custom-dropdown-value {
    color: #ffffff;
    position: absolute;
    left: 20%;
    top: 1.4rem;
    transform: translateX(-50%);
    font-size: 1.2rem;
    color: #e7e9ea;
}

/* .custom-dropdown-icon {
    font-size: 1.8rem;
    color: #71767B;
    padding-right: 0.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
} */

.custom-dropdown-options {
    position: absolute;
    z-index: 10;
    margin-top: 0.25rem;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #333639;
    border-radius: 0.25rem;
    max-height: 15rem;
    overflow-y: auto;
    width: 100%;
}

.input-container {
    font-size: 1rem; /* Ensure consistent font size */
    line-height: 1.5;
    /* font-family: font-custom2; */
    /* Add other consistent styles for input containers */
}



