@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Chirp-heavy';
    src: url('./assets/fonts/Chirp-heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Chirp-regular';
    src: url('./assets/fonts/Chirp-regular.otf') format('opentype');
}