@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Chirp';
    src: url('./assets/fonts/Chirp.otf') format('opentype');
    font-weight: 50;
    font-style: normal;
}

@layer {
    .font-stretched {
        font-stretch: expanded;
    }
}